# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.gradle/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
techgrains/doc/api/
techgrains/.dart_tool/
techgrains/.flutter-plugins
techgrains/.flutter-plugins-depedencies
techgrains/.packages
techgrains/.pub-cache/
techgrains/.pub/
techgrains/build/

# Android related
#techgrains/android/

# iOS/XCode related
#techgrains/ios/
techgrains/ios_iphone/
techgrains/ios_simulator/

# Exceptions to above rules.
#!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
